body{
  margin:0;
  padding:0;
}

.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 63, 63);
}

.container {
  position: relative;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  background: rgb(34, 34, 34);
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 3px #0002;
}

.content {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

.header {
  position: relative;
  color: #fff;
}

.inputHolder input {
  position: relative;
  width: 80%;
  border-radius: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  outline: none;
}

.pagHolder {
  display: flex;
  justify-content: flex-end;
}

.pagHolder button {
  margin: 0 5px;
}

.pageNumber {
  align-self: center;
  color: #fff;
}

.loadingMsg {
  color: #fff;
}